@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400&display=swap");

@font-face {
  font-family: "minecraft";
  src: url("fonts/MinecraftRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "minecraft";
  src: url("fonts/MinecraftBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "minecraft";
  src: url("fonts/MinecraftItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "minecraft";
  src: url("fonts/MinecraftBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

a:link:hover {

  text-decoration: underline;
  color: #1f89e0;
  transition: color 0.3s ease-in-out;

}

body {
  background-color: #f3f5de;
  align-items: center;

}
.nav-wrapper {
  position: fixed;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;

}
.head-nav {
  border-radius: 24px;
  width: 75%;


  background-color: rgba(245, 243, 214, 0.5);
  height: 50px;
  border: 2px solid black;
  text-align: center;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1000;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.103));

  transition: background-color 0.3s ease-in-out, drop-shadow 0.3s ease-in-out;


}
.head-nav:hover {
  background-color: rgba(245, 243, 214, 0.8);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));


}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.main {

  animation: fade-in-anim 0.6s ease-in-out;

}

.mcverify-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: filter 0.3s ease, transform 0.3s ease;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
  background-color: #f3f5de;
  padding: 15px;
  border-radius: 10px;
  width: 600px;
  height: auto;
  margin: 0 auto;
  animation: fade-in-anim 0.6s ease-in-out;

}

.mcverify-container:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
}


.data-sources-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.data-source-img {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease, transform 0.3s ease;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
  background-color: #f3f5de;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  transform-origin: top center;
  animation: fade-in-anim 0.6s ease-in-out;
}

.data-source-img img {
  width: auto;
  height: auto;
  max-width: 170px;
  max-height: 120px;
  object-fit: contain;
}

.data-source-img:hover {
  filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.6));
  transform: translateY(-5px);

}

@keyframes fade-in-anim {
  0% {
    opacity: 0;
    filter: blur(5%);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

.header {
  margin-top: 100px;
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  letter-spacing: 1.2px;
  word-spacing: 5px;
  padding-top: 12px;
  font-size: 32px;
  font-weight: 400;
}

.header h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.paper {
  animation: squiggly-anim 2.2s infinite alternate;

}

.paper2 {
  animation: squiggly-anim 2000000000000s infinite alternate;

}




@-webkit-keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }

  25% {
    filter: url("#squiggly-1");
  }

  50% {
    filter: url("#squiggly-2");
  }

  75% {
    filter: url("#squiggly-3");
  }

  100% {
    filter: url("#squiggly-4");
  }
}

@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }

  25% {
    filter: url("#squiggly-1");
  }

  50% {
    filter: url("#squiggly-2");
  }

  75% {
    filter: url("#squiggly-3");
  }

  100% {
    filter: url("#squiggly-4");
  }
}



/* cool video https://www.youtube.com/watch?v=lisZT8JIeKk 
 * also i skidded from https://css-tricks.com/books/greatest-css-tricks/squigglevision/
 * https://codepen.io/lbebber/pen/KwGEQv?editors=0100
 * */