@font-face {
    font-family: "minecraft";
    src: url("fonts/MinecraftRegular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "minecraft";
    src: url("fonts/MinecraftBold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "minecraft";
    src: url("fonts/MinecraftItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "minecraft";
    src: url("fonts/MinecraftBoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.main {
    
    
}

.header {
            text-align: center;
            font-family: "minecraft", fantasy; 
    letter-spacing: 1.2px;
    word-spacing: 5px;
    padding-top: 12px;
    font-size: 32px;
}
.paper {
         animation: squiggly-anim 1s infinite alternate;

}


@-webkit-keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}



/* cool video https://www.youtube.com/watch?v=lisZT8JIeKk 
 * also i skidded from https://css-tricks.com/books/greatest-css-tricks/squigglevision/
 * https://codepen.io/lbebber/pen/KwGEQv?editors=0100
 * */